<div class="search-table">
  <header>
    CATEGORYS
   <ul class="categorys-list">
    <ng-container *ngFor="let category of categorys">
      <li class="category" (click)="SelectedCategory(category.title)">
        {{category.title}}
      </li>
    </ng-container>
   </ul>
  </header>
  <ul class="cat-sites">
    <ng-container *ngFor="let site of sitesfromcategory">
      <li class="site"   >
        <div class="url">{{site.url}}</div>
        <span>
          <mat-icon class="icon" (click)="AddSite(site)">add_box</mat-icon>
        </span>
       <span> <mat-icon class="icon" (click)="openDialog(site.url)">pageview</mat-icon>
      </span>
      </li>
    </ng-container>
  </ul>
</div>
