.table-container {
  overflow-y: scroll;
  height: 77vh;
  border-radius: 20px;
}

.container {
  margin: .5em 1em;
  border-bottom: 4px solid rgb(128,167,167);
}

.category-container {
  display: flex;
  list-style-type: none;
  margin: 1vh 1vw;
  padding: 1em;
  overflow-x: scroll;
}

.title-container {
  display: flex;

}
.title {
  color: black;
  margin: .1em 2.1em;
  font-size: 30px;
  font-family: fantasy;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 1vw;
  border: 1px solid white;
  height: 13vh;
  width: 11.5vw;
  background: rgb(128,167,167);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .8em;
  padding-bottom: .4em;
}

.link:hover{
  cursor: pointer;
  background: wheat;
}

.icons-position {
  display: flex;
  justify-content: space-evenly;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.no-data {
  width: 89vw;
  height: 74vh;
  padding: 5vh 5vw;
}

header {
  text-align: center;
}

.icon {
  transform: scale(1.53);
  margin: 0 2vw;
}

.icons-position .icon {
  color: black
}

.url-container {
  overflow: hidden;
}

.url-container .url {
  color: black;
  font-size: 1.2em;

}

.add-content-message-container {
  height: 84vh;
  display: flex;
  justify-content: center;
}

.add-content-message {
  position: relative;
  margin: auto;
}

.add-icon {
  font-size: 2em;
  width: 1em;
  height: 1em;
}

.message-content {
  position: relative;
  bottom: 2vh;
}

.message-container {
  cursor: pointer;
}



.category-container::-webkit-scrollbar {
  width: 12px;
}

.category-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: wheat;
  border-radius: 10px;
}

.category-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: rgb(128,167,167);
}
