.page-body {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  /*background-image: url('../../assets/images/7612.jpg');*/
  height: 100vh;
  background-color: rgb(128, 167, 167);
  -webkit-animation-name: animation;
  -webkit-animation-duration: 1s;
  animation-name: animation;
  animation-duration: 1s;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / 4;
  background: wheat;
  border-radius: 20px;
  padding: 1em;
  margin: .6em 1em;
  -webkit-animation-name: main-content-animation;
  -webkit-animation-duration: 1s;
  animation-name: main-content-animation;
  animation-duration: 1s;
}
h2 {
  margin: 4vh 4vw;
  grid-column: 1;
  border-bottom: 3px solid black;
}
.main-content {
  grid-row: 2;
  grid-column: 1 / 4;
  background: wheat;
  border-radius: 20px;
  margin: 1vh 1vw;
}

.icon {
  cursor: pointer;
  width: 4vw;
}

a mat-icon {
  font-size: 3em;
  color: black;
}

a mat-icon:hover {
  color: beige;
}

@-webkit-keyframes animation {
  from {opacity: 0;
      transform: translateY(100%);}
  to {opacity: 1;
      transform: translateY(0);}
}

@keyframes animation {
  from {opacity: 0;
        transform: translateY(100%);}
  to {opacity: 1;
      transform: translateY(0);}
}

@-webkit-keyframes main-content-animation {
  from {opacity: 0;
      transform: scale(0) translateY(100%);}
  to {opacity: 1;
    transform: scale(1) translateY(0);}
}

@keyframes main-content-animation {
  from {opacity: 0;
      transform: scale(0) translateY(100%);}
  to {opacity: 1;
    transform: scale(1) translateY(0);}
}
