.register-header {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

p {
  display: none;
}

.icon {
  display: flex;
  margin-left: auto;
  font-size: 2em;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  cursor: pointer;
}

::ng-deep  .mat-snack-bar-handset {
  position: relative;
  right: 18vw ;
  top: 5vh ;
}
